### Smoking and Drinking Dataset with body signal

#### This dataset is collected from National Health Insurance Service in Korea. All personal information and sensitive data were excluded.
#### The purpose of this dataset is to:

##### 1- Analysis of body signal
##### 2- Classification of smoker or drinker

### Importing libraries

In [1]:
import tensorflow as tf
from tensorflow import keras
import numpy as np
import pandas as pd
import os
print("Tensor Flow Version: {}".format(tf.__version__))

WARNING:tensorflow:From c:\Users\mybox\anaconda3\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

Tensor Flow Version: 2.15.0

### Load the Dataset

In [2]:
path="C:\\Users\\mybox\\Downloads\\smoking.csv"
filename_read=os.path.join(path,"C:\\Users\\mybox\\Downloads\\smoking.csv")
df = pd.read_csv(filename_read, na_values=['NA', '?'])

### Check if there is misssing data

In [3]:
missing_values = df.isnull().sum()

print("Missing Values:\n", missing_values)

if missing_values.sum() == 0:
    print("No missing values in the DataFrame.")
else:
    print("There are missing values in the DataFrame.")

Missing Values:
 sex                 0
age                 0
height              0
weight              0
waistline           0
sight_left          0
sight_right         0
hear_left           0
hear_right          0
SBP                 0
DBP                 0
BLDS                0
tot_chole           0
HDL_chole           0
LDL_chole           0
triglyceride        0
hemoglobin          0
urine_protein       0
serum_creatinine    0
SGOT_AST            0
SGOT_ALT            0
gamma_GTP           0
SMK_stat_type_cd    0
DRK_YN              0
dtype: int64
No missing values in the DataFrame.

### Splitting the Data

In [5]:
df.head()

,sex,age,height,weight,waistline,sight_left,sight_right,hear_left,hear_right,SBP,...,LDL_chole,triglyceride,hemoglobin,urine_protein,serum_creatinine,SGOT_AST,SGOT_ALT,gamma_GTP,SMK_stat_type_cd,DRK_YN
0,Male,35,170,75,90.0,1.0,1.0,1,1,120,...,126,92,17.1,1,1.0,21,35,40,1,Y
1,Male,30,180,80,89.0,0.9,1.2,1,1,130,...,148,121,15.8,1,0.9,20,36,27,3,N
2,Male,40,165,75,91.0,1.2,1.5,1,1,120,...,74,104,15.8,1,0.9,47,32,68,1,N
3,Male,50,175,80,91.0,1.5,1.2,1,1,145,...,104,106,17.6,1,1.1,29,34,18,1,N
4,Male,50,165,60,80.0,1.0,1.2,1,1,138,...,117,104,13.8,1,0.8,19,12,25,1,N

In [7]:
from sklearn.model_selection import train_test_split
train_df, test_df= train_test_split(df, test_size=0.2)

In [ ]:
x_train.head()

In [ ]:
y_train.head()